body {
  margin: 0;
  background: #feffea;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500%;
}
h1 {
  color: #f0f7ee;
  float: left;
}

header {
  background: #5d737e;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 75px;
  padding-top: 35px;
  padding-right: 50px;
  position: relative;
}
nav a {
  color: #f0f7ee;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
}

nav a:hover {
  color: #a3a3a3;
}

nav a::before {
  content: "";
  display: block;
  height: 5px;
  width: 0%;
  background-color: #a3a3a3;
  position: absolute;
  transition: all ease-in-out 300ms;
  top: 0;
}

nav a:hover::before {
  width: 70%;
}
.aboutme{
  padding: 0px 5px;
  color: #f0f7ee;
  font: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: -2px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
}

.history{
  margin: 0px;
  padding: 0px;
  font-family: fantasy;
  color: #2F2F2F;
  line-height: 1.5;
  letter-spacing: 1px;
  font-size: larger;

}

.mylife {
  position: relative;
  width: 400px;
}

.TokyoPic{
  padding: 30px 100px;
  width: 500px;
  height: 800px;
    
}



img {
  width: 200px;
  height: 400px;
}

.blurr {
  display: block;
  width: 200%;
}
.description {
  position: absolute;
  top: 52px;
  left: 0;
  width: 200%;
  height: 398px;
  background: rgba(0, 0, 0, 0.6);
  color: #f0f7ee;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateY(20px);
  transition: transform 0.3s;
}

.description--blur {
  backdrop-filter: blur(5px);
}

.description:hover {
  opacity: 1;
  transform: translateY(0);
}

h2 {
  top: 250px;
  left: 0;
  width: 100%;
}

.space {
  color: #f0f7ee;
  font: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: -2px;
  background: #000000;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 5px;
}

